<footer
  class="bg-gray-900 mx-auto mt-4 w-full max-w-container px-4 py-2 sm:px-6 lg:px-8 fixed bottom-0"
>
  <div class="border-t border-slate-900/5 py-2">
    <p class="text-center text-sm leading-6 text-slate-500">
      Made with ❤ by
      <span
        ><a
          class="text-blue-100"
          href="https://www.linkedin.com/in/prashant4900/"
          target="_blank"
          >Prashant Nigam</a
        ></span
      >. Buy me a
      <span
        ><a
          class="text-blue-100"
          href="https://www.linkedin.com/in/prashant4900/"
          target="_blank"
          >Coffee</a
        ></span
      >.
    </p>
  </div>
</footer>
